<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="recipeStep">
      <h2 data-cy="recipeStepDetailsHeading"><span jhiTranslate="mymenuApp.recipeStep.detail.title">Recipe Step</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ recipeStep.id }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipeStep.stepNum">Step Num</span></dt>
        <dd>
          <span>{{ recipeStep.stepNum }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipeStep.stepDescription">Step Description</span></dt>
        <dd>
          <span>{{ recipeStep.stepDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/recipe-step', recipeStep.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
