<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span jhiTranslate="mymenuApp.product.detail.title">Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.product.name" [ngbTooltip]="'mymenuApp.product.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ product.name }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.product.picture">Picture</span></dt>
        <dd>
          <div *ngIf="product.picture">
            <a (click)="openFile(product.picture, product.pictureContentType)">
              <img
                [src]="'data:' + product.pictureContentType + ';base64,' + product.picture"
                style="max-width: 100%"
                alt="product image"
              />
            </a>
            {{ product.pictureContentType }}, {{ byteSize(product.picture) }}
          </div>
        </dd>
        <dt><span jhiTranslate="mymenuApp.product.sheld">Sheld</span></dt>
        <dd>
          <div *ngIf="product.sheld">
            <a [routerLink]="['/sheld', product.sheld?.id, 'view']">{{ product.sheld?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
