<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="recipePicture">
      <h2 data-cy="recipePictureDetailsHeading"><span jhiTranslate="mymenuApp.recipePicture.detail.title">Recipe Picture</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ recipePicture.id }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipePicture.picture">Picture</span></dt>
        <dd>
          <div *ngIf="recipePicture.picture">
            <a (click)="openFile(recipePicture.picture, recipePicture.pictureContentType)">
              <img
                [src]="'data:' + recipePicture.pictureContentType + ';base64,' + recipePicture.picture"
                style="max-width: 100%"
                alt="recipePicture image"
              />
            </a>
            {{ recipePicture.pictureContentType }}, {{ byteSize(recipePicture.picture) }}
          </div>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipePicture.label">Label</span></dt>
        <dd>
          <span>{{ recipePicture.label }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipePicture.order">Order</span></dt>
        <dd>
          <span>{{ recipePicture.order }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/recipe-picture', recipePicture.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
