<div>
  <h2 id="page-heading" data-cy="RecipeHeading">
    <span jhiTranslate="mymenuApp.recipe.home.title">Recipes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mymenuApp.recipe.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recipe"
        [routerLink]="['/recipe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="mymenuApp.recipe.home.createLabel"> Create a new Recipe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="mymenuApp.recipe.home.search">Query</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'mymenuApp.recipe.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="recipes?.length === 0">
    <span jhiTranslate="mymenuApp.recipe.home.notFound">No recipes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="recipes && recipes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="mymenuApp.recipe.name">Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <span jhiTranslate="mymenuApp.recipe.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="mymenuApp.recipe.description">Description</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="preparationDuration">
            <span jhiTranslate="mymenuApp.recipe.preparationDuration">Preparation Duration</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="restDuraction">
            <span jhiTranslate="mymenuApp.recipe.restDuraction">Rest Duraction</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cookingDuration">
            <span jhiTranslate="mymenuApp.recipe.cookingDuration">Cooking Duration</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="winterPreferrency">
            <span jhiTranslate="mymenuApp.recipe.winterPreferrency">Winter Preferrency</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="springPreferrency">
            <span jhiTranslate="mymenuApp.recipe.springPreferrency">Spring Preferrency</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="summerPreferrency">
            <span jhiTranslate="mymenuApp.recipe.summerPreferrency">Summer Preferrency</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="autumnPreferrency">
            <span jhiTranslate="mymenuApp.recipe.autumnPreferrency">Autumn Preferrency</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numberOfPeople">
            <span jhiTranslate="mymenuApp.recipe.numberOfPeople">Number Of People</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recipeType">
            <span jhiTranslate="mymenuApp.recipe.recipeType">Recipe Type</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recipeURL">
            <span jhiTranslate="mymenuApp.recipe.recipeURL">Recipe URL</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shortSteps">
            <span jhiTranslate="mymenuApp.recipe.shortSteps">Short Steps</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isShortDescRecipe">
            <span jhiTranslate="mymenuApp.recipe.isShortDescRecipe">Is Short Desc Recipe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let recipe of recipes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/recipe', recipe.id, 'view']">{{ recipe.id }}</a>
          </td>
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.creationDate | formatMediumDate }}</td>
          <td>{{ recipe.description }}</td>
          <td>{{ recipe.preparationDuration }}</td>
          <td>{{ recipe.restDuraction }}</td>
          <td>{{ recipe.cookingDuration }}</td>
          <td jhiTranslate="{{ 'mymenuApp.PreferredSeason.' + recipe.winterPreferrency }}">{{ recipe.winterPreferrency }}</td>
          <td jhiTranslate="{{ 'mymenuApp.PreferredSeason.' + recipe.springPreferrency }}">{{ recipe.springPreferrency }}</td>
          <td jhiTranslate="{{ 'mymenuApp.PreferredSeason.' + recipe.summerPreferrency }}">{{ recipe.summerPreferrency }}</td>
          <td jhiTranslate="{{ 'mymenuApp.PreferredSeason.' + recipe.autumnPreferrency }}">{{ recipe.autumnPreferrency }}</td>
          <td>{{ recipe.numberOfPeople }}</td>
          <td jhiTranslate="{{ 'mymenuApp.RecipeType.' + recipe.recipeType }}">{{ recipe.recipeType }}</td>
          <td>{{ recipe.recipeURL }}</td>
          <td>{{ recipe.shortSteps }}</td>
          <td>{{ recipe.isShortDescRecipe }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/recipe', recipe.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/recipe', recipe.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(recipe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
