<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-recipe-heading" data-cy="RecipeCreateUpdateHeading" jhiTranslate="mymenuApp.recipe.home.createOrEditLabel">
        Create or edit a Recipe
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="mymenuApp.recipe.name"
            for="field_name"
            [ngbTooltip]="'mymenuApp.recipe.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 400 }"
            >
              This field cannot be longer than 400 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.creationDate" for="field_creationDate">Creation Date</label>
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="editForm.get('creationDate')!.invalid && (editForm.get('creationDate')!.dirty || editForm.get('creationDate')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('creationDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10000 }"
            >
              This field cannot be longer than 10000 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.preparationDuration" for="field_preparationDuration"
            >Preparation Duration</label
          >
          <input
            type="number"
            class="form-control"
            name="preparationDuration"
            id="field_preparationDuration"
            data-cy="preparationDuration"
            formControlName="preparationDuration"
          />
          <div
            *ngIf="
              editForm.get('preparationDuration')!.invalid &&
              (editForm.get('preparationDuration')!.dirty || editForm.get('preparationDuration')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('preparationDuration')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('preparationDuration')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.restDuraction" for="field_restDuraction">Rest Duraction</label>
          <input
            type="number"
            class="form-control"
            name="restDuraction"
            id="field_restDuraction"
            data-cy="restDuraction"
            formControlName="restDuraction"
          />
          <div
            *ngIf="
              editForm.get('restDuraction')!.invalid && (editForm.get('restDuraction')!.dirty || editForm.get('restDuraction')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('restDuraction')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('restDuraction')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.cookingDuration" for="field_cookingDuration">Cooking Duration</label>
          <input
            type="number"
            class="form-control"
            name="cookingDuration"
            id="field_cookingDuration"
            data-cy="cookingDuration"
            formControlName="cookingDuration"
          />
          <div
            *ngIf="
              editForm.get('cookingDuration')!.invalid &&
              (editForm.get('cookingDuration')!.dirty || editForm.get('cookingDuration')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cookingDuration')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('cookingDuration')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.winterPreferrency" for="field_winterPreferrency"
            >Winter Preferrency</label
          >
          <select
            class="form-control"
            name="winterPreferrency"
            formControlName="winterPreferrency"
            id="field_winterPreferrency"
            data-cy="winterPreferrency"
          >
            <option [ngValue]="null">{{ 'mymenuApp.PreferredSeason.null' | translate }}</option>
            <option *ngFor="let preferredSeason of preferredSeasonValues" [value]="preferredSeason">
              {{ 'mymenuApp.PreferredSeason.' + preferredSeason | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.springPreferrency" for="field_springPreferrency"
            >Spring Preferrency</label
          >
          <select
            class="form-control"
            name="springPreferrency"
            formControlName="springPreferrency"
            id="field_springPreferrency"
            data-cy="springPreferrency"
          >
            <option [ngValue]="null">{{ 'mymenuApp.PreferredSeason.null' | translate }}</option>
            <option *ngFor="let preferredSeason of preferredSeasonValues" [value]="preferredSeason">
              {{ 'mymenuApp.PreferredSeason.' + preferredSeason | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.summerPreferrency" for="field_summerPreferrency"
            >Summer Preferrency</label
          >
          <select
            class="form-control"
            name="summerPreferrency"
            formControlName="summerPreferrency"
            id="field_summerPreferrency"
            data-cy="summerPreferrency"
          >
            <option [ngValue]="null">{{ 'mymenuApp.PreferredSeason.null' | translate }}</option>
            <option *ngFor="let preferredSeason of preferredSeasonValues" [value]="preferredSeason">
              {{ 'mymenuApp.PreferredSeason.' + preferredSeason | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.autumnPreferrency" for="field_autumnPreferrency"
            >Autumn Preferrency</label
          >
          <select
            class="form-control"
            name="autumnPreferrency"
            formControlName="autumnPreferrency"
            id="field_autumnPreferrency"
            data-cy="autumnPreferrency"
          >
            <option [ngValue]="null">{{ 'mymenuApp.PreferredSeason.null' | translate }}</option>
            <option *ngFor="let preferredSeason of preferredSeasonValues" [value]="preferredSeason">
              {{ 'mymenuApp.PreferredSeason.' + preferredSeason | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.numberOfPeople" for="field_numberOfPeople">Number Of People</label>
          <input
            type="number"
            class="form-control"
            name="numberOfPeople"
            id="field_numberOfPeople"
            data-cy="numberOfPeople"
            formControlName="numberOfPeople"
          />
          <div
            *ngIf="
              editForm.get('numberOfPeople')!.invalid && (editForm.get('numberOfPeople')!.dirty || editForm.get('numberOfPeople')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numberOfPeople')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('numberOfPeople')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.recipeType" for="field_recipeType">Recipe Type</label>
          <select class="form-control" name="recipeType" formControlName="recipeType" id="field_recipeType" data-cy="recipeType">
            <option [ngValue]="null">{{ 'mymenuApp.RecipeType.null' | translate }}</option>
            <option *ngFor="let recipeType of recipeTypeValues" [value]="recipeType">
              {{ 'mymenuApp.RecipeType.' + recipeType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('recipeType')!.invalid && (editForm.get('recipeType')!.dirty || editForm.get('recipeType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('recipeType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.recipeURL" for="field_recipeURL">Recipe URL</label>
          <input type="text" class="form-control" name="recipeURL" id="field_recipeURL" data-cy="recipeURL" formControlName="recipeURL" />
          <div *ngIf="editForm.get('recipeURL')!.invalid && (editForm.get('recipeURL')!.dirty || editForm.get('recipeURL')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('recipeURL')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 400 }"
            >
              This field cannot be longer than 400 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.shortSteps" for="field_shortSteps">Short Steps</label>
          <input
            type="text"
            class="form-control"
            name="shortSteps"
            id="field_shortSteps"
            data-cy="shortSteps"
            formControlName="shortSteps"
          />
          <div *ngIf="editForm.get('shortSteps')!.invalid && (editForm.get('shortSteps')!.dirty || editForm.get('shortSteps')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('shortSteps')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 40000 }"
            >
              This field cannot be longer than 40000 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipe.isShortDescRecipe" for="field_isShortDescRecipe"
            >Is Short Desc Recipe</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isShortDescRecipe"
            id="field_isShortDescRecipe"
            data-cy="isShortDescRecipe"
            formControlName="isShortDescRecipe"
          />
          <div
            *ngIf="
              editForm.get('isShortDescRecipe')!.invalid &&
              (editForm.get('isShortDescRecipe')!.dirty || editForm.get('isShortDescRecipe')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isShortDescRecipe')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="mymenuApp.recipe.tag" for="field_tags">Tag</label>
          <select class="form-control" id="field_tags" data-cy="tag" multiple name="tags" formControlName="tags">
            <option
              [ngValue]="getSelectedTag(tagOption, editForm.get('tags')!.value)"
              *ngFor="let tagOption of tagsSharedCollection; trackBy: trackTagById"
            >
              {{ tagOption.label }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="mymenuApp.recipe.ingredient" for="field_ingredients">Ingredient</label>
          <select
            class="form-control"
            id="field_ingredients"
            data-cy="ingredient"
            multiple
            name="ingredients"
            formControlName="ingredients"
          >
            <option
              [ngValue]="getSelectedIngredient(ingredientOption, editForm.get('ingredients')!.value)"
              *ngFor="let ingredientOption of ingredientsSharedCollection; trackBy: trackIngredientById"
            >
              {{ ingredientOption.quantityType }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="mymenuApp.recipe.recipePicture" for="field_recipePictures">Recipe Picture</label>
          <select
            class="form-control"
            id="field_recipePictures"
            data-cy="recipePicture"
            multiple
            name="recipePictures"
            formControlName="recipePictures"
          >
            <option
              [ngValue]="getSelectedRecipePicture(recipePictureOption, editForm.get('recipePictures')!.value)"
              *ngFor="let recipePictureOption of recipePicturesSharedCollection; trackBy: trackRecipePictureById"
            >
              {{ recipePictureOption.label }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="mymenuApp.recipe.recipeStep" for="field_recipeSteps">Recipe Step</label>
          <select
            class="form-control"
            id="field_recipeSteps"
            data-cy="recipeStep"
            multiple
            name="recipeSteps"
            formControlName="recipeSteps"
          >
            <option
              [ngValue]="getSelectedRecipeStep(recipeStepOption, editForm.get('recipeSteps')!.value)"
              *ngFor="let recipeStepOption of recipeStepsSharedCollection; trackBy: trackRecipeStepById"
            >
              {{ recipeStepOption.stepDescription }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
