<div>
  <h2 id="page-heading" data-cy="MenuHeading">
    <span jhiTranslate="mymenuApp.menu.home.title">Menus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mymenuApp.menu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-menu"
        [routerLink]="['/menu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="mymenuApp.menu.home.createLabel"> Create a new Menu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="mymenuApp.menu.home.search">Query</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'mymenuApp.menu.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="menus?.length === 0">
    <span jhiTranslate="mymenuApp.menu.home.notFound">No menus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="menus && menus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="mymenuApp.menu.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userId">
            <span jhiTranslate="mymenuApp.menu.userId">User Id</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="starter.name">
            <span jhiTranslate="mymenuApp.menu.starter">Starter</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="main.name"><span jhiTranslate="mymenuApp.menu.main">Main</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dessert.name">
            <span jhiTranslate="mymenuApp.menu.dessert">Dessert</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let menu of menus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/menu', menu.id, 'view']">{{ menu.id }}</a>
          </td>
          <td>{{ menu.date | formatMediumDate }}</td>
          <td>{{ menu.userId }}</td>
          <td>
            <div *ngIf="menu.starter">
              <a [routerLink]="['/recipe', menu.starter?.id, 'view']">{{ menu.starter?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="menu.main">
              <a [routerLink]="['/recipe', menu.main?.id, 'view']">{{ menu.main?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="menu.dessert">
              <a [routerLink]="['/recipe', menu.dessert?.id, 'view']">{{ menu.dessert?.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/menu', menu.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/menu', menu.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(menu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
