<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="recipe">
      <h2 data-cy="recipeDetailsHeading"><span jhiTranslate="mymenuApp.recipe.detail.title">Recipe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ recipe.id }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.name" [ngbTooltip]="'mymenuApp.recipe.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ recipe.name }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ recipe.creationDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.description">Description</span></dt>
        <dd>
          <span>{{ recipe.description }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.preparationDuration">Preparation Duration</span></dt>
        <dd>
          <span>{{ recipe.preparationDuration }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.restDuraction">Rest Duraction</span></dt>
        <dd>
          <span>{{ recipe.restDuraction }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.cookingDuration">Cooking Duration</span></dt>
        <dd>
          <span>{{ recipe.cookingDuration }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.winterPreferrency">Winter Preferrency</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuApp.PreferredSeason.' + recipe.winterPreferrency }}">{{ recipe.winterPreferrency }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.springPreferrency">Spring Preferrency</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuApp.PreferredSeason.' + recipe.springPreferrency }}">{{ recipe.springPreferrency }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.summerPreferrency">Summer Preferrency</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuApp.PreferredSeason.' + recipe.summerPreferrency }}">{{ recipe.summerPreferrency }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.autumnPreferrency">Autumn Preferrency</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuApp.PreferredSeason.' + recipe.autumnPreferrency }}">{{ recipe.autumnPreferrency }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.numberOfPeople">Number Of People</span></dt>
        <dd>
          <span>{{ recipe.numberOfPeople }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.recipeType">Recipe Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuApp.RecipeType.' + recipe.recipeType }}">{{ recipe.recipeType }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.recipeURL">Recipe URL</span></dt>
        <dd>
          <span>{{ recipe.recipeURL }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.shortSteps">Short Steps</span></dt>
        <dd>
          <span>{{ recipe.shortSteps }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.isShortDescRecipe">Is Short Desc Recipe</span></dt>
        <dd>
          <span>{{ recipe.isShortDescRecipe }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.tag">Tag</span></dt>
        <dd>
          <span *ngFor="let tag of recipe.tags; let last = last">
            <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.label }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.ingredient">Ingredient</span></dt>
        <dd>
          <span *ngFor="let ingredient of recipe.ingredients; let last = last">
            <a [routerLink]="['/ingredient', ingredient?.id, 'view']">{{ ingredient.quantityType }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.recipePicture">Recipe Picture</span></dt>
        <dd>
          <span *ngFor="let recipePicture of recipe.recipePictures; let last = last">
            <a [routerLink]="['/recipe-picture', recipePicture?.id, 'view']">{{ recipePicture.label }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.recipe.recipeStep">Recipe Step</span></dt>
        <dd>
          <span *ngFor="let recipeStep of recipe.recipeSteps; let last = last">
            <a [routerLink]="['/recipe-step', recipeStep?.id, 'view']">{{ recipeStep.stepDescription }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/recipe', recipe.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
