<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-recipe-step-heading" data-cy="RecipeStepCreateUpdateHeading" jhiTranslate="mymenuApp.recipeStep.home.createOrEditLabel">
        Create or edit a Recipe Step
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipeStep.stepNum" for="field_stepNum">Step Num</label>
          <input type="number" class="form-control" name="stepNum" id="field_stepNum" data-cy="stepNum" formControlName="stepNum" />
          <div *ngIf="editForm.get('stepNum')!.invalid && (editForm.get('stepNum')!.dirty || editForm.get('stepNum')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('stepNum')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('stepNum')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('stepNum')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.recipeStep.stepDescription" for="field_stepDescription">Step Description</label>
          <input
            type="text"
            class="form-control"
            name="stepDescription"
            id="field_stepDescription"
            data-cy="stepDescription"
            formControlName="stepDescription"
          />
          <div
            *ngIf="
              editForm.get('stepDescription')!.invalid &&
              (editForm.get('stepDescription')!.dirty || editForm.get('stepDescription')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('stepDescription')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 4000 }"
            >
              This field cannot be longer than 4000 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
