<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-menu-heading" data-cy="MenuCreateUpdateHeading" jhiTranslate="mymenuApp.menu.home.createOrEditLabel">
        Create or edit a Menu
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.menu.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.menu.userId" for="field_userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('userId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.menu.starter" for="field_starter">Starter</label>
          <select class="form-control" id="field_starter" data-cy="starter" name="starter" formControlName="starter">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="recipeOption.id === editForm.get('starter')!.value?.id ? editForm.get('starter')!.value : recipeOption"
              *ngFor="let recipeOption of recipesSharedCollection; trackBy: trackRecipeById"
            >
              {{ recipeOption.name }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.menu.main" for="field_main">Main</label>
          <select class="form-control" id="field_main" data-cy="main" name="main" formControlName="main">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="recipeOption.id === editForm.get('main')!.value?.id ? editForm.get('main')!.value : recipeOption"
              *ngFor="let recipeOption of recipesSharedCollection; trackBy: trackRecipeById"
            >
              {{ recipeOption.name }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mymenuApp.menu.dessert" for="field_dessert">Dessert</label>
          <select class="form-control" id="field_dessert" data-cy="dessert" name="dessert" formControlName="dessert">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="recipeOption.id === editForm.get('dessert')!.value?.id ? editForm.get('dessert')!.value : recipeOption"
              *ngFor="let recipeOption of recipesSharedCollection; trackBy: trackRecipeById"
            >
              {{ recipeOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
