<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ingredient">
      <h2 data-cy="ingredientDetailsHeading"><span jhiTranslate="mymenuApp.ingredient.detail.title">Ingredient</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ingredient.id }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.ingredient.quantity">Quantity</span></dt>
        <dd>
          <span>{{ ingredient.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.ingredient.quantityType">Quantity Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuApp.QuantityType.' + ingredient.quantityType }}">{{ ingredient.quantityType }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuApp.ingredient.product">Product</span></dt>
        <dd>
          <div *ngIf="ingredient.product">
            <a [routerLink]="['/product', ingredient.product?.id, 'view']">{{ ingredient.product?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ingredient', ingredient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
